/* ==============================
   Estilos Generales
============================== */

main {
    min-height: 100vh;
    flex-grow: 1;
}

.full-screen-background {
    background-color: #F9F6E6; /* Color de fondo */
}